* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    /* background-color:rgb(219, 194, 198) */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: rgb(233, 68, 96);
    font-family: sans-serif;
    background-color: rgb(236, 224, 226);
    border: 1px solid pink;
    margin-left: 8px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(233, 208, 208);
}

nav div {
    padding: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

li {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

p {
    margin-top: 50px;
    font-size: 100px;
    font-weight: bolder;
    font-style: oblique;
    color: crimson;
    text-align: center;
    line-height: 8%;
}


marquee {
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: rgb(226, 95, 116);
}

a:hover {
    color: black;
}

.brand-section {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;

}

.images {
    margin-top: 20px;
    width: 60%;
    height: 100%;
    background-image: url(./ce3b5c5c1304dc09a37ea04a0c494ab5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px dotted pink;
}

.images .img {
    width: 100%;
    height: 100%;

}

.choose {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(241, 127, 146);
}
.choose1 {
    background-color:rgb(113, 60, 60);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(241, 127, 146);
    padding: 10px;
}


.sales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    flex-wrap: wrap;
}

.card {
    height: 50vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(239, 101, 124);
    border-radius: 5%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.card-image1 {
    background-image: url(./CasualMen/Jordan/jordan1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 5%;
}

.card-image2 {
    background-image: url(./CasualMen/Jordan/jordan2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    cursor: pointer;
    border-radius: 5%;
    width: 100%;
}

.card-image3 {
    background-image: url(./CasualMen/Jordan/jordan3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image4 {
    background-image: url(./CasualMen/Jordan/jordan4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image5 {
    background-image: url(./CasualMen/LouisVuitton/lv1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image6 {
    background-image: url(./CasualMen/LouisVuitton/lv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image7 {
    background-image: url(./CasualMen/LouisVuitton/lv3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image8 {
    background-image: url(./CasualMen/LouisVuitton/lv5.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image9 {
    background-image: url(./CasualMen/MonteCarlo/monte1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image10 {
    background-image: url(./CasualMen/MonteCarlo/monte6.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image11 {
    background-image: url(./CasualMen/MonteCarlo/monte3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image12 {
    background-image: url(./CasualMen/MonteCarlo/monte4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image13 {
    background-image: url(./NightMen/Polo/POLO6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image14 {
    background-image: url(./NightMen/Polo/polo1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image15 {
    background-image: url(./NightMen/Polo/polo2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image16 {
    background-image: url(./NightMen/Polo/polo4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image17 {
    background-image: url(./NightMen/Puma/puma1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image18 {
    background-image: url(./NightMen/Puma/puma2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image19 {
    background-image: url(./NightMen/Puma/puma3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image20 {
    background-image: url(./NightMen/Puma/puma4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image21 {
    background-image: url(./NightMen/Tommy/tommy1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image22 {
    background-image: url(./NightMen/Tommy/tommy2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image23 {
    background-image: url(./NightMen/Tommy/tommy3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}
.card-image24 {
    background-image: url(./NightMen/Tommy/tommy4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5%;
    width: 100%;
    cursor: pointer;
}

.card-text {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    color: rgb(234, 117, 117);
    cursor: pointer;
}

footer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: rgb(212, 115, 115); */
    background-color: rgb(233, 208, 208);
    height: 14vh;
}

.left-footer,
.right-footer,
.center-footer a {
    color: black;
}

.left-footer {
    color: rgb(186, 106, 106);
}

.center-footer a:hover {
    color: rgb(214, 35, 79);
}

.center-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
    padding: 10px;
    font-weight: normal;
}

.right-footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 3px solid black;
    padding: 10px;
    height: 8vh;

}

label {
    text-transform: uppercase;
}

input {
    border: none;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
}

.copyright {
    width: 100%;
    height: 8vh;
    background-color: rgb(39, 35, 35);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}